@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

* {
  font-family: Raleway, Roboto, Arial, sans-serif;
}

body {
  background-image: url("/static/img/background.svg");
  background-size: cover;
  color: white;
}

.content {
  max-width: 81rem;
  margin: 30px auto;
}

/** TELA INICIAL **/
.home {
  text-align: center;
}

.home label {
  display: block;
}

.home input {
  background: none;
  border-radius: 20px;
  border: #6411ad 3px solid;
  color: #000;
  font-size: 1.7rem;
  font-weight: bold;
  max-width: calc(100% - 30px);
  outline: none;
  padding: 15px 30px;
  text-align: center;
  transition: 0.2s ease;
  background: black;
  color: white;
/*  font-family: Staatliches;*/
  display: block;
  margin: auto;
}

.home input:focus {
  box-shadow: rgba(100, 17, 173, 0.3) 0 0 0 5px;
}

.home input.code {
  font-family: monospace;
  font-size: 1rem;
  padding: 10px 15px;
  border: #e76f51 2px solid;
}

.home .code-label {
  margin-top: 15px;
}

.join {
  --background-side: #007200;
  --background: #008000;
  --color: #fff;
  background-color: var(--background);
  border-bottom: rgba(255, 255, 255, 0.5) 3px solid;
  border-left: none;
  border-radius: 20px;
  border-right: none;
  border-top: none;
  box-shadow: var(--background-side) 0 8px, #000000 0 8px 5px;
  color: var(--color);
  cursor: pointer;
  font-family: "Gowun Dodum", Roboto, Arial, sans-serif;
  font-size: 1.5rem;
  margin-top: 20px;
  outline: none;
  padding: 10px 30px;
  transition: 0.2s ease;
  width: 300px;
}
.join:hover {
  box-shadow: var(--background-side) 0 8px, #000000 0 8px 10px;
}
.join:focus {
  box-shadow: var(--background-side) 0 12px, #000000 0 8px 10px;
  transform: translateY(-4px);
}
.join:active {
  border-bottom: transparent 3px solid;
  box-shadow: var(--color-side) 0 0, #000000 0 0 3px;
  transform: translateY(8px);
}

.error {
  color: #f4a261;
  margin-top: 20px;
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 2rem;
  }
  75% {
    margin-left: -2rem;
  }
  100% {
    margin-left: 0rem;
  }
}


/** SALA **/

iframe {
  background: black;
  border-radius: 20px;
}

.room {
  display: flex;
  gap: 10px;
/*  align-items: center;*/
  flex-direction: row;
}

@media (max-width: 48em) {
  .room {
    flex-direction: column !important;
  }

  iframe {
    height: 300px;
  }

  .message-box {
    width: calc(100% - 50px) !important;
  }
}

.room .slides {
  flex: 1;
  width: 100%;
}

.room .message-box {
  width: 300px;
  border: white 1px solid;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 600px;
  background: #222;
}

.room .message-box h2 {
  margin: 0;
  border-bottom: white 1px solid;
  text-align: center;
  margin-bottom: 10px;
}

.room .message-box .messages {
  flex: 1;
  overflow: auto;
  padding: 10px 0;
}

.room .message-box .inputs {
  display: flex;
  margin-top:10px;
  gap: 5px;
}

.room .message-box .inputs .message {
  background: none;
  border-radius: 5px;
  border: white 1px solid;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  flex: 1;
  outline: none;
  padding: 5px 10px;
  transition: 0.2s ease;
  color: white;
/*  font-family: Staatliches;*/
  display: block;
  margin: auto;
  height: 20px;
}

.room .message-box .inputs .message:focus {
  box-shadow: rgba(100, 100, 100, 0.3) 0 0 0 5px;
}

.room .message-box .inputs .send {
  background: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .1s ease;
}

.room .message-box .inputs .send:hover,
.room .message-box .inputs .send:focus {
  transform: scale(1.05);
}

.room .message-box .inputs .send:active {
  transform: scale(0.95);
}

.room .message-box .inputs .send img {
  width: 20px;
  height: 20px;
}

.room .message-box .message-content {
  margin: 10px 0;
  padding-right: 10px;
}

.room .message-box .message-content .name {
  font-size: 14px;
}

.room .message-box .message-content .time {
  font-size: 10px;
  text-align: right;
  opacity:0.5;
}

.room .todos h2 {
  margin: 10px 0;
  text-align: center;
}

.room .todos .todo {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
  gap: 10px;
  align-items: center;
  border: white 1px solid;
  border-radius: 1000px;
  cursor: pointer;
  background: none;
  color: inherit;
  font: inherit;
  width: 100%;
}

.room .todos .todo:hover,
.room .todos .todo:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.room .todos .todo:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.room .todos .todo .todo-icon {
  width: 25px;
  height: 25px;
  background-color: #ef476f;
  background-image: url('https://cdn-icons-png.flaticon.com/512/57/57165.png');
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
  border-radius: 50%;
}

.room .todos .todo.done .todo-icon {
  background-image: url('https://cdn-icons-png.flaticon.com/512/60/60731.png') !important;
  background-color: #06d6a0 !important;
  background-size: 25px !important;
}

/* tabela dashboard */
table, th, td {
  border:10px solid black;
  border-color: black;
  background-color: white;
  color: black;

}