{% extends 'base.html' %} {% block content %}
<div>
  <table>
    <thead>
      <tr>
        <th>Nome da Tarefa</th>
        <th>Usuarios que Finalizaram a Tarefa</th>
        <th>quantidade de usuarios com tarefa finalizada</th>
        <th>quantidade de usuarios com tarefa NÃO finalizada</th>
        <th>Usuarios que NÃO Finalizaram a tarefa</th>
      </tr>
    </thead>
    <tbody class="dashboard-todos"></tbody>
  </table>
</div>
<div class="graph"></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}