{% extends 'base.html' %} {% block content %}
<div>
  <table>
    <thead>
      <tr>
        <th>Nome da Tarefa</th>
        <th>Usuários</th>
      </tr>
    </thead>
    <tbody class="dashboard-todos">
      {% for todo in todos %}
      <tr>
        <td>{{ todo.name }}</td>
        <td>
          {% for user in todo.users %} {{ user }}<br />
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="/static/js/dashboard.js"></script>
{% endblock %}
